@font-face {
    font-family: "Space Mono Regular";
    src:
        url("fonts/SpaceMono-Regular.ttf")
}
@font-face {
    font-family: "Space Mono Bold";
    src:
        url("fonts/SpaceMono-Bold.ttf")
}
@font-face {
    font-family: "Space Mono Italic";
    src:
        url("fonts/SpaceMono-Italic.ttf")
}

body {
    font-family: "Space Mono Regular";
    padding-right: 0;
}

.timer {
    z-index: 99;
    position: relative;
    width: fit-content;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: .12em;
    font-size: 236px;
    line-height: 226px;
}

#times {
    display: none;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: flex-end;
    position: fixed;
    width: auto;
    height: 95%;
    padding-bottom: .12em;
    top: 0;
    right: 5%;
    z-index: 99;
}

.taskContainer {
    margin-top: 15px;
    background-color: white;
}
.taskContainer:hover {
    color: transparent;
    background-color: black;
    transition: .2s ease;
}

.taskName {
    width: fit-content;
    height: fit-content;
    min-height: 30px;
    display: flex;
    position: relative;
    padding: 12px 30px 12px 30px;
    background-color: white;
    color: black;
    border: solid 1px black;
    z-index: 10;
    justify-content: center;
}

.taskName:hover {
    color: transparent;
    background-color: black;
    transition: .2s ease;
}

.taskDuration {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    top: 7px;
    left: 6px;
    width: 100%;
    height: 100%;
    color: white;
    z-index: -10;
    font-size: 14px;
    line-height: 20px;
}


.task:hover {
    transition: ease .2s;
    color: white;
    background-color: black;
}

.timeUnit {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;
    width: 100%;
    padding-left: .24em;
}

.num {
    float: inline-start;
}

.label {
    display: inline;
    margin-left: .10em;
}

.currentTime {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translate(40%, -50%) rotate(-90deg);
}

.dialogue {
    display: none;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    padding: 20 20 20 20;
    border: solid 2px black;
    background-color: rgb(255, 255, 255);
    z-index: 999;
}
.timeSummary {
    position: absolute;
    top: 3%;
    left: 2%;
    font-size: 35px;
    line-height: 38px;
}

/**
* Mobile Design
*/
@media screen and (width <= 620px) {
    .timer {
        width: 100%;
        transition: .3s ease-in;
        z-index: 99;
        padding-top: 0;
        margin-left: -.02em;
    }
    .timer:hover {
        transition: .5s ease;
        /* transform: translateY(-200px); */
    }
    .timeUnit {
        width: auto;
        padding-left: 0;
    }
    .timer > .timeUnit > .label {
        writing-mode: vertical-rl;
        text-orientation: upright;
        font-size: 46px;
        line-height: 18px;
        letter-spacing: -28px;
        margin-top: -19px;
    }

    .timer > .timeUnit {
        line-height: 220px;
    }

    #times {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        position: fixed;
        top: 95%;
        left: 5%;
        transform-origin: top left;
        transform: rotate(-90deg);
        transition: transform .5s;
        z-index: 0
    }
}

#textInput {
    position: relative;
    top: 50%;
    left: 50%;
    border: none;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    text-align: center;
    font-family: "Space Mono Regular";
    font-size: 32px;
}

#textInput:focus {
    outline: none;
}

#textInput::-webkit-input-placeholder {
    color: grey;
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: steps(2, start);
    -webkit-animation-iteration-count: infinite;
}

#textInput::-moz-placeholder { 
    color:grey;
    -moz-animation-name: blinker;
    -moz-animation-duration: 2s;
    -moz-animation-timing-function: steps(2, start);
    -moz-animation-iteration-count: infinite;

}

@-moz-keyframes blinker {  
    0% { color:grey }
    100% { color: white; }
}

@-webkit-keyframes blinker {  
    0% { color:grey }
    100% { color: white; }
}

@keyframes blinker {  
    0% { color:grey }
    100% { color: white; }
}
